
<div class="main_container">
  <h2>Trending deals</h2>
 <div class="card-deck">
  
   
 
   <div class="card" >
     <header class="card-header" style='color: white; background: DodgerBlue ;'>
       <h1>Header</h1>
     </header>
 
     <div class="card-body">
       <p> 
     ACP digital financial services (Digital4Inclusion)- Call for proposals (General) The European Union (EU) is seeking proposals from eligible organisations for a program entitled “Digital Financial Services for ACP (Digital4Inclusion). The ...</p>
     </div>
 
     <footer class="card-footer">
      <button class="btn btn-info">See More</button>
     </footer>
     
   </div>
    <div class="card" >
     <header class="card-header" style='color: white; background: DodgerBlue ;'>
       <h1>Header</h1>
     </header>
 
     <div class="card-body">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
     </div>
 
     <footer class="card-footer">
      <button class="btn btn-info">See More</button>
     </footer>
     
   </div>
      <div class="card" >
     <header class="card-header" style='color: white; background: DodgerBlue ;'>
       <h1>Header</h1>
     </header>
 
     <div class="card-body">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
     </div>
 
     <footer class="card-footer">
       <button class="btn btn-info">See More</button><button>7 d(s) left</button>
     </footer>
     
   </div>
    
 </div>
 
 
 
  <h2>Treading deals</h2>
 <!-- Card deck -->
 <div class="card-deck">
 
   <!-- Card -->
   <div class="card mb-4">
 
     <!--Card image-->
     <div class="view overlay">
       <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
       <a href="#!">
         <div class="mask rgba-white-slight"></div>
       </a>
     </div>
 
     <!--Card content-->
     <div class="card-body">
 
       <!--Title-->
       <h4 class="card-title">Card title</h4>
       <!--Text-->
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
       <button type="button" class="btn btn-info">Read more</button>
 
     </div>
 
   </div>
   <!-- Card -->
 
   <!-- Card -->
   <div class="card mb-4">
 
     <!--Card image-->
     <div class="view overlay">
       <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
       <a href="#!">
         <div class="mask rgba-white-slight"></div>
       </a>
     </div>
 
     <!--Card content-->
     <div class="card-body">
 
       <!--Title-->
       <h4 class="card-title">Card title</h4>
       <!--Text-->
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
       <button type="button" class="btn btn-info">Read more</button>

     </div>
 
   </div>
   <!-- Card -->
 
   <!-- Card -->
   <div class="card mb-4">
 
     <!--Card image-->
     <div class="view overlay">
       <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
       <a href="#!">
         <div class="mask rgba-white-slight"></div>
       </a>
     </div>
 
     <!--Card content-->
     <div class="card-body">
 
       <!--Title-->
       <h4 class="card-title">Card title</h4>
       <!--Text-->
       
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
       <button type="button" class="btn btn-info">Read more</button>
 
     </div>
 
   </div>
   <!-- Card -->
 
 </div>
 <!-- Card deck -->
 </div>
 