.industry{
    margin-left:250px;
}


.location{
    margin-left:30px;
}

.range{
    margin-left:30px;
}

.btn{
    margin-left:50px;
}

.s-filter{
border-block-end-width: 10px;
border-block-color: red;

}