<div class="page">
 
  <app-dashheader></app-dashheader>
  <!-- <app-header></app-header> -->
   <div class="page-content d-flex align-items-stretch">
          <!-- Side Navbar -->
          <nav class="side-navbar"> 
   <app-sidenav></app-sidenav>
   </nav>
   <div class="content-inner">
               <!-- Page Header-->
  <header class="page-header">
       <div class="container-fluid">
            
        
         <h2 class="no-margin-bottom"><a id="toggle-btn" href="#" class="fa fa-bars" style="padding-right: 40px; color: #000;"></a>Dashboard</h2>
        
       </div>
    
     </header>
    
 
        <router-outlet></router-outlet>
   
 
   <app-dashfooter></app-dashfooter>
   </div>
 </div>
 