<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
      <!-- Item -->
      <div class="col-xl-4 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-blue"><i class="icon-user"></i></div>
          <div class="title">
            <span>New<br />Clients</span>
            <div class="progress">
              <div
                role="progressbar"
                style="width: 25%; height: 4px;"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
                class="progress-bar bg-violet"
              ></div>
            </div>
          </div>
          <div class="number"><strong>2523</strong></div>
        </div>
      </div>

      <!-- Item -->
      <div class="col-xl-4 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-green"><i class="icon-user"></i></div>
          <div class="title">
            <span>New<br />Clients</span>
            <div class="progress">
              <div
                role="progressbar"
                style="width: 25%; height: 4px;"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
                class="progress-bar bg-violet"
              ></div>
            </div>
          </div>
          <div class="number"><strong>2523</strong></div>
        </div>
      </div>

      <!-- Item -->
      <div class="col-xl-4 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-yellow"><i class="icon-user"></i></div>
          <div class="title">
            <span>New<br />Clients</span>
            <div class="progress">
              <div
                role="progressbar"
                style="width: 25%; height: 4px;"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
                class="progress-bar bg-violet"
              ></div>
            </div>
          </div>
          <div class="number"><strong>2523</strong></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
      <!-- Item -->
      <div class="col-xl-12 col-sm-12">
        <div class="card">
          <div class="card-header bg-primary">
            <h4 class="card-title text-dark m-0">12567 Total Deals</h4>
          </div>
          <div class="card-body">
            <!-- <app-my-bar-chart></app-my-bar-chart> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Dashboard Counts Section-->
