/* styling the H4 headings for the page */
h4 {
  color: white !important;
}

.cards {
  border-radius: 15px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  display: block;
}
